body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    height: 10vh;
    background-color: #ffffff;
    box-shadow: 0 0px 0.2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.home {
    padding: 15pc;
    font-size: 40px;
    background-image: ('wavy.jpg');
    
}

.header{
    padding: 14pc;
    font-size: 30px;
}


.logo {
    color: rgb(106, 70, 70);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.h1{
    padding: 12pc;
    font-family: 'Poppins', sans-serif;
}

.nav-links {
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    width: 50%;
    z-index: 100;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(24, 24, 24);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}


.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
 

.about {
    background-image: linear-gradient(to right, rgb(92, 92, 201), rgb(54, 54, 224)) ;
    padding: 2%;
    color: rgb(226, 226, 226);
    text-align: center;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 95vh;
        top: 8vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: table-cell;
    padding: 20px;
}
  
.title {
    color: grey;
    font-size: 18px;
}
  
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
  
button:hover, a:hover {
    opacity: 0.7;
}
.nav-active {
    transform: translate(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
      opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);

}


.creators {
    padding: 2%;
    align-items: center;
    display: table;
    width: 96vw; /*Optional */
    table-layout: fixed; /*Optional*/
    border-spacing: 10px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      
  }

 
